.no-cart-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-cart-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #1e293b;
}
.no-cart-para {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Light / blue-gray / 500 */

  color: #64748b;
}

.no-cart-button {
  width: 93px;
  height: 32px;

  background: #f7931e;
  border-radius: 8px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border: none;
  color: #ffffff;
}
.no-cart-image {
  width: 25%;
  height: 25%;
}
