.payment-container {
  height: 100%;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Payment-Successful-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #1e293b;
}
.payment-successful-para {
  width: 100%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  align-self: center;
  color: #64748b;
}
.goto-home-button {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background: #f7931e;
  border-radius: 8px;
  border: none;
  padding: 10px;
}
